
* {
  box-sizing: border-box;
}

html {
  background-color: rgb(38, 38, 178);
}


.App { 
  width: 100%;
  height: 100%;
  background-color: grey;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10em;
  margin-left: -20em;
  width: 50em;
  height: 20em;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  background-color: rgb(56, 56, 175);
}

.info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 50%;
}

span {
  font-size: xx-large;
  padding-left: 1em;
  padding-top: 1em;
}

.questionNumber {
  font-size: x-large;
  color: white;
  height: 25%;
  padding-top: 10px;
}

.questionText {
  text-align: center;
  font-size: x-large;
  height: 75%;
  padding: 50px 15px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35px;
  vertical-align: 17.5px;
}

.answerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.outcomeBox {
  color: white;
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7em;
  margin-left: -15em;
  padding-top: 4em;
  width: 30em;
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(56, 56, 175);
}



/* Buttons CSS */

.resetButton {
  margin: auto;
  width: 15em;
  height: 3em;
  font-size: large;
  cursor: pointer;
}

.answerButtons {
  all: unset;
  height: 10%;
  width: 75%;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.answerButtons::after,
.answerButtons::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.answerButtons::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.answerButtons::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.answerButtons:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.answerButtons:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.answerButtons:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}













/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */